.container{
    display:flex;
    flex-direction:column;
    border: 1px solid black;
    width: fit-content;
}

*[class^='child']{
    border:1px solid black;
    height:14px;
    width:14px;
}

button{
    background-color: gold;
}